<div class="protego-page-container">
  <mat-card>
    <h2 style="float: left;">{{ 'protego.model-form.treb.header' | translate }}</h2>
    <a style="float: right;" href="https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html" target="_blank">
      <mat-icon>help_outline</mat-icon>
    </a>
      <form class="protego-form" [formGroup]="modelForm">
        <!-- name -->
        <mat-form-field class="protego-full-width">
          <mat-label>{{ 'protego.model-form.treb.name' | translate }}</mat-label>
          <input matInput formControlName="name">
          <mat-hint align="end">{{ 'protego.model-form.treb.name.hint' | translate }}</mat-hint>
          <mat-error *ngIf="(modelFormControl.name.touched) && modelFormControl.name.errors?.required">
            <mat-icon style="margin-right: 2px;">error_outline</mat-icon>
            {{ 'protego.model-form.treb.name.error' | translate }}
          </mat-error>
        </mat-form-field>

        <!-- criterion -->
        <mat-form-field class="protego-full-width">
          <mat-label>{{ 'protego.model-form.treb.field1' | translate }}</mat-label>
          <mat-select formControlName="criterion">
            <mat-option *ngFor="let criterion of criterions" [value]="criterion.value">
              {{ criterion.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- splitter -->
        <mat-form-field class="protego-full-width">
          <mat-label>{{ 'protego.model-form.treb.field2' | translate }}</mat-label>
          <mat-select formControlName="splitter">
            <mat-option *ngFor="let splitter of splitters" [value]="splitter.value">
              {{ splitter.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- max_depth -->
        <mat-form-field class="protego-full-width">
          <mat-label>{{ 'protego.model-form.treb.field3' | translate }}</mat-label>
          <input type="number" matInput formControlName="max_depth">
          <mat-hint align="end">{{ 'protego.model-form.treb.field3.hint' | translate }}</mat-hint>
          <mat-error *ngIf="(modelFormControl.max_depth.touched) && modelFormControl.max_depth.errors?.min">
            <mat-icon style="margin-right: 2px;">error_outline</mat-icon>
            {{ 'protego.model-form.treb.field3.error1' | translate }}
          </mat-error>
          <mat-error *ngIf="(modelFormControl.max_depth.touched) && modelFormControl.max_depth.errors?.notInteger">
            <mat-icon style="margin-right: 2px;">error_outline</mat-icon>
            {{ 'protego.model-form.treb.field3.error2' | translate }}
          </mat-error>
        </mat-form-field>

        <!-- min_samples_split -->
        <mat-form-field class="protego-full-width">
          <mat-label>{{ 'protego.model-form.treb.field4' | translate }}</mat-label>
          <input type="number" matInput formControlName="min_samples_split">
          <mat-hint align="end">{{ 'protego.model-form.treb.field4.hint' | translate }}</mat-hint>
          <mat-error *ngIf="(modelFormControl.min_samples_split.touched) && modelFormControl.min_samples_split.errors?.min">
            <mat-icon style="margin-right: 2px;">error_outline</mat-icon>
            {{ 'protego.model-form.treb.field4.error' | translate }}
          </mat-error>
        </mat-form-field>

        <!-- min_samples_leaf -->
        <mat-form-field class="protego-full-width">
          <mat-label>{{ 'protego.model-form.treb.field5' | translate }}</mat-label>
          <input type="number" matInput formControlName="min_samples_leaf">
          <mat-hint align="end">{{ 'protego.model-form.treb.field5.hint' | translate }}</mat-hint>
          <mat-error *ngIf="(modelFormControl.min_samples_leaf.touched) && modelFormControl.min_samples_leaf.errors?.min">
            <mat-icon style="margin-right: 2px;">error_outline</mat-icon>
            {{ 'protego.model-form.treb.field5.error' | translate }}
          </mat-error>
        </mat-form-field>

        <!-- min_weight_fraction_leaf -->
        <mat-form-field class="protego-full-width">
          <mat-label>{{ 'protego.model-form.treb.field6' | translate }}</mat-label>
          <input type="number" matInput formControlName="min_weight_fraction_leaf">
          <mat-hint align="end">{{ 'protego.model-form.treb.field6.hint' | translate }}</mat-hint>
          <mat-error *ngIf="(modelFormControl.min_weight_fraction_leaf.touched) && modelFormControl.min_weight_fraction_leaf.errors?.min">
            <mat-icon style="margin-right: 2px;">error_outline</mat-icon>
            {{ 'protego.model-form.treb.field6.error1' | translate }}
          </mat-error>
          <mat-error *ngIf="(modelFormControl.min_weight_fraction_leaf.touched) && modelFormControl.min_weight_fraction_leaf.errors?.max">
            <mat-icon style="margin-right: 2px;">error_outline</mat-icon>
            {{ 'protego.model-form.treb.field6.error2' | translate }}
          </mat-error>
        </mat-form-field>

        <!-- max_features -->
        <mat-form-field class="protego-full-width">
          <mat-label>{{ 'protego.model-form.treb.field7' | translate }}</mat-label>
          <input matInput formControlName="max_features">
          <mat-hint align="end">{{ 'protego.model-form.treb.field7.hint' | translate }}</mat-hint>
          <mat-error *ngIf="(modelFormControl.max_features.touched) && modelFormControl.max_features.errors?.isInvalid">
            <mat-icon style="margin-right: 2px;">error_outline</mat-icon>
            {{ 'protego.model-form.treb.field7.error' | translate }}
          </mat-error>
        </mat-form-field>

        <!-- random_state -->
        <mat-form-field class="protego-full-width">
          <mat-label>{{ 'protego.model-form.treb.field8' | translate }}</mat-label>
          <input type="number" matInput formControlName="random_state">
          <mat-hint align="end">{{ 'protego.model-form.treb.field8.hint' | translate }}</mat-hint>
          <mat-error *ngIf="(modelFormControl.random_state.touched) && modelFormControl.random_state.errors?.min">
            <mat-icon style="margin-right: 2px;">error_outline</mat-icon>
            {{ 'protego.model-form.treb.field8.error1' | translate }}
          </mat-error>
          <mat-error *ngIf="(modelFormControl.random_state.touched) && modelFormControl.random_state.errors?.notInteger">
            <mat-icon style="margin-right: 2px;">error_outline</mat-icon>
            {{ 'protego.model-form.treb.field8.error2' | translate }}
          </mat-error>
        </mat-form-field>

        <!-- max_leaf_nodes -->
        <mat-form-field class="protego-full-width">
          <mat-label>{{ 'protego.model-form.treb.field9' | translate }}</mat-label>
          <input type="number" matInput formControlName="max_leaf_nodes">
          <mat-hint align="end">{{ 'protego.model-form.treb.field9.hint' | translate }}</mat-hint>
          <mat-error *ngIf="(modelFormControl.max_leaf_nodes.touched) && modelFormControl.max_leaf_nodes.errors?.min">
            <mat-icon style="margin-right: 2px;">error_outline</mat-icon>
            {{ 'protego.model-form.treb.field9.error1' | translate }}
          </mat-error>
          <mat-error *ngIf="(modelFormControl.max_leaf_nodes.touched) && modelFormControl.max_leaf_nodes.errors?.notInteger">
            <mat-icon style="margin-right: 2px;">error_outline</mat-icon>
            {{ 'protego.model-form.treb.field9.error2' | translate }}
          </mat-error>
        </mat-form-field>

        <!-- min_impurity_decrease -->
        <mat-form-field class="protego-full-width">
          <mat-label>{{ 'protego.model-form.treb.field10' | translate }}</mat-label>
          <input type="number" matInput formControlName="min_impurity_decrease">
          <mat-hint align="end">{{ 'protego.model-form.treb.field10.hint' | translate }}</mat-hint>
          <mat-error *ngIf="(modelFormControl.min_impurity_decrease.touched) && modelFormControl.min_impurity_decrease.errors?.min">
            <mat-icon style="margin-right: 2px;">error_outline</mat-icon>
            {{ 'protego.model-form.treb.field10.error' | translate }}
          </mat-error>
        </mat-form-field>

        <!-- class_weight -->
        <mat-form-field class="protego-full-width">
          <mat-label>{{ 'protego.model-form.treb.field11' | translate }}</mat-label>
          <input matInput formControlName="class_weight">
          <mat-hint align="end">
            {{ 'protego.model-form.treb.field11.hint' | translate }}
            <button (click)="classWeightDialog()" class="protego-button">
              <mat-icon>question_mark</mat-icon>
            </button>
          </mat-hint>
          <mat-error *ngIf="(modelFormControl.class_weight.touched) && modelFormControl.class_weight.errors?.isInvalid">
            <mat-icon style="margin-right: 2px;">error_outline</mat-icon>
            {{ 'protego.model-form.treb.field11.error' | translate }}
          </mat-error>
        </mat-form-field>

        <!-- ccp_alpha -->
        <mat-form-field class="protego-full-width">
          <mat-label>{{ 'protego.model-form.treb.field12' | translate }}</mat-label>
          <input type="number" matInput formControlName="ccp_alpha">
          <mat-hint align="end">{{ 'protego.model-form.treb.field12.hint' | translate }}</mat-hint>
          <mat-error *ngIf="(modelFormControl.ccp_alpha.touched) && modelFormControl.ccp_alpha.errors?.min">
            <mat-icon style="margin-right: 2px;">error_outline</mat-icon>
            {{ 'protego.model-form.treb.field12.error' | translate }}
          </mat-error>
        </mat-form-field>
      </form>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="saveModel()" class="protego-save-button" [disabled]="!modelForm.valid" attr.aria-label="{{ 'protego.model-form.button1.aria' | translate }}">{{ 'protego.model-form.button1' | translate }}</button>
      </mat-card-actions>
      <mat-card-footer>
        <mat-progress-bar *ngIf="isLoading" mode='query'></mat-progress-bar>
      </mat-card-footer>
  </mat-card>
  <mat-card *ngIf="errorMsg" style="margin-top: 0.5em; border: 1px solid red;">
    <h6>{{ 'protego.error' | translate }}:</h6>
    <p>{{ errorMsg }}</p>
  </mat-card>
</div>