<h1 mat-dialog-title><strong>{{ action }} {{ 'protego.payload.bulk.dialog.header' | translate }}</strong></h1>
<div mat-dialog-content>
    <form class="form" [formGroup]="fg">
        <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
            <mat-label>{{ label1 }}</mat-label>
            <mat-select formControlName="value1" (selectionChange)="updateField1($event)" required>
              <mat-option *ngFor="let class of classes" [value]="class.value">
                {{ class.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="(formControl.value1.touched || submitted) && formControl.value1.errors?.required">
              <mat-icon class="protego-icon">error_outline</mat-icon>
              {{ label1 }} {{ 'protego.payload.bulk.dialog.required' | translate }}.
            </mat-error>
          </mat-form-field>
    </form>
    
    <ng-template #elseTemplate>
        <b class="protego-warning">{{ 'protego.payload.bulk.dialog.warning1' | translate }}:</b> {{ 'protego.payload.bulk.dialog.warning2' | translate }}
    </ng-template>
</div>
<div mat-dialog-actions class="protego-actions">
    <button mat-raised-button (click)="doAction()" color="warn" [disabled]="!fg.valid && action != 'Delete'" attr.aria-label="do action">{{ action }}</button>
    <button mat-raised-button (click)="closeDialog()" attr.aria-label="cancel">{{ 'protego.payload.bulk.dialog.cancel' | translate }}</button>
</div>