
@import '../../../../styles-variables';

.protego-page-container {
  padding: 2em;
  width: 60%;
  margin: auto;
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .protego-page-container {
    width: 100%;
    padding: 1em;
  }
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.protego-table-container {
  clear: both;
  width: 100%;
  min-width: 700px;
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .protego-table-container {
    min-width: 450px;
  }
}

button {
  margin: 5px;
}

.protego-fixed-column {
  width: 190px;
}

.protego-max-column {
  white-space: normal;
  word-wrap: break-word;
  max-width: 100px;
  padding-right: 1em;
}

.protego-float-left {
  padding-top: 2em;
  float: left;
}

.protego-clear {
  padding-top: 2em;
  clear: all;
}

.protego-margin-top {
  margin-top: 4em;
}

.protego-clear-margin {
  margin-top: 0;
}

.protego-divider {
  margin-top: 3em;
  border-top-width: 2px;
}