<div class='protego-main-wrapper'>
    <mat-card class="protego-login-form">
        <form [formGroup]="passwordForm">
            <mat-card-title>{{ 'protego.reset-password.title' | translate }} @{{ username }}</mat-card-title>
            <mat-card-content>
                <mat-form-field class="protego-full-width">
                    <input matInput [type]="hide1?'password':'text'" placeholder="Password" formControlName="password" required appPassword>
                    <mat-error *ngIf="(passwordFormControl.password.touched || submitted) && passwordFormControl.password.errors?.required">
                        <mat-icon style="margin-right: 2px;">error_outline</mat-icon>
                        {{ 'protego.reset-password.error1' | translate }}
                    </mat-error>
                    <mat-error *ngIf="(passwordFormControl.password.touched || submitted) && passwordFormControl.password.errors?.invalidPassword">
                        <mat-icon style="margin-right: 2px;">error_outline</mat-icon>
                        {{ 'protego.reset-password.error2' | translate }}
                    </mat-error>
                    <mat-icon matSuffix (click)="hide1 = !hide1" style="cursor: pointer;">{{hide1?'visibility_off':'visibility'}}</mat-icon>
                </mat-form-field>

                <mat-form-field class="protego-full-width">
                    <input matInput [type]="hide2?'password':'text'" placeholder="Confirm Password" formControlName="confirm_password" required>
                    <mat-error *ngIf="(passwordFormControl.confirm_password.touched || submitted) && passwordFormControl.confirm_password.errors?.required">
                        <mat-icon style="margin-right: 2px;">error_outline</mat-icon>
                        {{ 'protego.reset-password.error3' | translate }}
                    </mat-error>
                    <mat-error *ngIf="(passwordFormControl.confirm_password.touched || submitted) && passwordFormControl.confirm_password.errors?.passwordMismatch">
                        <mat-icon style="margin-right: 2px;">error_outline</mat-icon>
                        {{ 'protego.reset-password.error4' | translate }}
                    </mat-error>
                    <mat-icon matSuffix (click)="hide2 = !hide2" style="cursor: pointer;">{{hide2?'visibility_off':'visibility'}}</mat-icon>
                </mat-form-field>
            </mat-card-content>
        </form>
        <p>{{ 'protego.reset-password.p' | translate }}.</p>
        <mat-card-actions>
            <button class="protego-full-width" (click)="onSubmit()" mat-raised-button color="primary" [disabled]="!passwordForm.valid" attr.aria-label="change password">{{ 'protego.reset-password.button' | translate }}</button>
        </mat-card-actions>
        <mat-card-footer>
            <mat-progress-bar *ngIf="loading" mode='query'></mat-progress-bar>
            </mat-card-footer>
    </mat-card>
</div>
