<div class='protego-main-wrapper'>
    <mat-card class="protego-login-form" *ngIf="!linkSent; else elseTemplate">
        <form [formGroup]="passwordForm">
            <mat-card-title>{{ 'protego.forgot-password.reset' | translate }}</mat-card-title>
            <mat-card-content>
                <p>{{ 'protego.forgot-password.info' | translate }}</p>
                <mat-form-field class="protego-full-width">
                    <input matInput type="text" placeholder="{{ 'protego.forgot-password.email' | translate }}" formControlName="email" required>
                    <mat-hint align="end"></mat-hint>
                    <mat-error *ngIf="(passwordFormControl.email.touched || submitted) && passwordFormControl.email.errors?.required">
                        <mat-icon style="margin-right: 2px;">error_outline</mat-icon>
                        {{ 'protego.forgot-password.warn1' | translate }}
                    </mat-error>
                    <mat-error *ngIf="(passwordFormControl.email.touched || submitted) && passwordFormControl.email.errors?.email">
                        <mat-icon style="margin-right: 2px;">error_outline</mat-icon>
                        {{ 'protego.forgot-password.warn2' | translate }}
                    </mat-error>
                </mat-form-field>
            </mat-card-content>
        </form>
        <mat-card-actions>
            <button class="protego-full-width" (click)="onSubmit()" mat-raised-button color="primary" [disabled]="!passwordForm.valid" attr.aria-label="{{ 'protego.forgot-password.aria1' | translate }}">{{ 'protego.forgot-password.send' | translate }}</button>
        </mat-card-actions>
        <mat-card-footer>
            <mat-progress-bar *ngIf="loading" mode='query'></mat-progress-bar>
          </mat-card-footer>
    </mat-card>

    <ng-template #elseTemplate>
        <mat-card class="protego-login-form">
            <mat-card-content>
                <p>{{ 'protego.forgot-password.success' | translate }}</p>
            </mat-card-content>
            <mat-card-actions>
                <button class="protego-full-width" mat-raised-button color="primary" [routerLink]="['/login']" attr.aria-label="{{ 'protego.forgot-password.aria2' | translate }}">{{ 'protego.forgot-password.return' | translate }}</button>
            </mat-card-actions>
        </mat-card>
    </ng-template>
</div>