mat-form-field {
    width: 90%;
    margin: 10px;
}

.protego-icon {
    margin-right: 2px;
}

.protego-warning {
    color: red; 
    font-style: italic;
}

.protego-actions {
    margin-top: 1em;
}